*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    margin: 2rem;
    font-size: 40px;
}
.container{
    display: grid;
    margin: auto;
    background-color: lightblue
}
.container  div{
    width: 80%;
    margin: 1rem auto;
    font-size: 20px;
    border: 1px solid red;
    padding: 1rem;
    border-radius: 15px;
    background-color: white;
}
.number{
 background-color: blue;
 color: white;
 width: 2.5rem;
 text-align: center;
 padding: 1rem;
 border-radius: 10px;
}